<h1 class="animated fadeIn fast">About US</h1>
<hr>
<p class="animated fadeIn">We are a team of people who love nature, outdoor activities, mountains, rivers and more.</p>
<p class="animated fadeIn">We love to share all of our experiences touring different parts of Mexico, giving some tips and recommendations on what places to visit and what activities you can do. In this space you will find a lot of useful information for your next trip, and you
    will be able to share your experiences as well as sharing content with many people who visit our site, you can support us sending it in our contact section.
</p>
<br>
<h3>Meet the Team</h3>
<hr>
<div class="card-deck">
    <div class="card">
        <img src="assets/img/wendyRdz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Wendy Rdz</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/AnallelySosa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Anallely Sosa</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/AlfredoHdz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Alfredo Hernandez</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>