<h1 class="animated fadeIn fast">About US</h1>
<hr>
<p class="animated fadeIn">We are a team of people who love nature, outdoor activities, mountains, rivers and more.</p>
<p class="animated fadeIn">We love to share all of our experiences touring different parts of Mexico, giving some tips and recommendations on what places to visit and what activities you can do. In this space you will find a lot of useful information for your next trip, and you
    will be able to share your experiences as well as sharing content with many people who visit our site, you can support us sending it in our contact section.
</p>
<br>
<h3>Meet the Team</h3>
<hr>
<div class="card-deck">
    <div class="card">
        <img src="assets/img/wendyRdz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Wendy Rdz</h5>
            <p class="card-text">I love nature, meet new people in every adventure and place I visit. In every place I visit I find new experiences that make me feel happy</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
    <div class="card">
        <img src="assets/img/AnallelySosa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Anallely Sosa</h5>
            <p class="card-text">I love to visit towns, cities and places full of nature where I can find peace, meet new people and help them get to know new places..</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/AlfredoHdz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Alfredo Hernandez</h5>
            <p class="card-text">I am a person who loves to travel to villages, try all kinds of meals, know the travel experiences of all people and be able to share mine.</p>
        </div>
    </div>
</div>
<hr>
<h3>Some our contributors</h3>
<hr>
<ul class="list-unstyled">
    <li class="media">
        <img src="assets/img/rogelioSanchez.jpg" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Rogelio Sanchez</h5>
            I am a person that I love to know every corner of Mexico, have new adventures and share with others as has been my experience and help them with recommendations. Among the best experiences I have had is to visit Oaxaca and Chiapas.
        </div>
    </li>
    <li class="media my-4">
        <img src="assets/img/johanHdz.jpg" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Johan Hernandez</h5>
            I am a traveler and passionate about the mountains, I love to share my experiences and the places I have visited with many people.
        </div>
    </li>
    <li class="media">
        <img src="assets/img/mariela.jpg" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Mariela Flores</h5>
            I am a traveler of simple places, towns and cities where I can meet many people, try many types of food and be able to give recommendations later.
        </div>
    </li>
</ul>