<div class="jumbotron jumbotron-fluid">
    <!--<img src="assets/img/banner1.jpg" alt="...">-->
    <h1 class="display-4">Sharing Experiences</h1>
    <p class="lead text-center">Meet and share the incredible experiences and adventures of people like you love traveling.</p>
</div>

    <br>
    <h1>Activities</h1>
    <hr>
    <section>
    <div class="card-group">
    <div class="card">
        <img src="assets/img/chipitin.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Chipitin</h5>
            <p class="card-text">Chipitín is extreme adventure in which you can practice rappelling and be surrounded by its beautiful scenery.</p>
            <p class="card-text"><small class="text-muted">Is located in Carr. Puerto Genvevo,Potrero Redondo, Santiago, N.L.</small></p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/camping.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camping</h5>
            <p class="card-text">Live an amazing night camping in Santiago Nuevo Leon </p>
            <p class="card-text"><small class="text-muted">Is located in Carr. Puerto Genvevo,Potrero Redondo, Santiago, N.L.</small></p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/real.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Huasteca "Cueva la Virgen"</h5>
            <p class="card-text">This excursion can be practiced inside the canyon of La Huasteca, one of the most spectacular natural monuments in Mexico</p>
            <p class="card-text"><small class="text-muted">Is located in Santa Catarina Nuevo Leon</small></p>
        </div>
    </div>
    </div>
    </section>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">View from the Heights <span class="text-muted"></span></h2>
            <p>The wonderful views that you will have on the top of "La Mota Grande " located in Garcia Nuevlo Leon, being a route that requires a good physical condition, you can not stop visiting.</p>
        </div>
        <div class="col-md-5">
            <img class="fade" src="assets/img/mountain.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Camping in the mountains <span class="text-muted"></span></h2>
            <p>Located in Arteaga, Coahuila, the Cerro de San Rafael – popularly known as the Cerro de la Viga, is one of the most popular mountains for mountaineers in preparation for the "high mountain". At 3650 meters above sea level, the Summit welcomes
                you with a beautiful and detailed view that will remain in your memory for the next couple of days. That makes it a good place to camp and have an amazing sunrise
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img  class="fade" src="assets/img/campingMountain.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">A lake between the mountains <span class="text-muted"></span></h2>
            <p>The Xinantécatl volcano or better known as the Nevado de Toluca, it is one of the most beautiful inactive volcanoes in the state of Mexico, so if you are looking for a little adventure without having to go far from Mexico City, this could be the
                option you are looking for and you will be able to take The best pictures of their wonderful scenarios</p>
        </div>
        <div class="col-md-5">
            <img class="fade"  src="assets/img/nevado.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->